body                { margin: 0; padding: 0; }

a { color: inherit; text-decoration: none; }
.hovertext span {
	background-color: rgba(0,0,0, 0.8);
    border-radius: 15px 15px 15px 0px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
    color: #fff;
    margin-left: 2px;
    opacity: 0;
    padding: 10px 10px 10px 10px;
    position: absolute;
    text-decoration: none;
    visibility: hidden;
    z-index: 0;
    bottom: 5px;

}

.hovertext {
    position: relative;
}

.hovertext span.hovered {
	opacity: 1;
	visibility: visible;
}
.code-section {
    background-color: #3F3F3F
}

pre                 { color: #DCDCCC; }

.hide {
    display: none;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
 }

.left {
    min-width: 200px;
    max-width: 600px;
 }

 .tree {
    width: 200px;
 }

 .right {
    flex-grow: 1;
    min-width: 600px;
 }

 .resize {
    height: 100%;
    width: 5px;
    cursor: col-resize;
    background-color: #ccc;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
    transition: all 0.3s ease;
 }

 .resize:hover {
    background-color: #027fd4
 }


.linesCounter {
    text-align: right;
    color: #707070;
    width: 3.5rem;
}

.line-selected {
    background-color: rgb(124 124 109 / 80%);
    box-shadow: inset 2px 0 0 rgba(212, 167, 44, 0.4);
}

.line-number {
    font-size: 14px;
    color: #858585;
    min-width: 30px; 
    text-align: right;
    padding: 0;
}

.line-content {
    font-size: 14px;
    white-space: pre; 
    word-wrap: anywhere; 
    padding: 0 0 0 20;
}

.jump-hover:hover {
    cursor: pointer;
    text-shadow: 0px 0px 1px #555;
    color: #2b4bdecf;
}

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.code-section { 
    color: #DCDCCC;
    height: 100vh;
    overflow: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}

.code-section pre {
    margin: 0;
    background: inherit;
    padding: 0.0em;
    height: max-content;
}

.table-code {
    height: max-content;
}

.box {
    background-color: '#ffffff';
    border-color: '#d0d7de';
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

.badge {
    font-family: monospace;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: #a6adaf; /* Choose your desired background color */
    color: #ffffff; /* Choose your desired text color */
}

.filename {
    margin: 10;
}