<table>
<tbody>
{% for line in lines %}
    <tr id="LT{{line.number}}" class="table-line">
        <td id="L{{line.number}}" class="prevent-select line-number">
            <a href="#L{{line.number}}">{{line.number}}</a>
        </td>
        {% if line.fold %}
        <td
            id="LF{{line.number}}"
            class="prevent-select line-fold arrow arrow--right" 
            data-fold-close-on="{{line.fold.end_line}}">
        </td>
        {% else %}
        <td></td>
        {% endif %}
        <td id="LC{{line.number}}" class="line-content"><code><pre>{{line.html_content | safe}}</pre></code></td>
    </tr>
{% endfor %}
</tbody>
</table>
