<style>
{{styles | safe}}
</style>

<div class="content">
    <div class="left">
        <div class="tree">
            <div class="tnz-file-tree">
    {{tree | safe}}
            </div>
        </div>
    </div>
    <div class="resize" id="resize"></div>
    <div class="right">
        <div class="filename">
            <div style="display: none;" class="badge"></div>
        </div>
        <div id="code" class="box code-section">
            <div>
                <div style="padding: 0 0 100 20;">
                        <h3>Select file from the left</h3>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
{{script | safe}}
</script>      

<div id="all-files">
{{files | safe}}
</div>